.wrapper{
    .bot-sec{
        background: url(../../images/bg.png) no-repeat top center;
    p.wk, p.bm, p.ar, p.bowler{
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.125px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.7;
        margin: 0 auto 14px;
        padding-top: 0px;
        text-transform: uppercase;
    }
    
    p.wk{padding-top: 10px;}
    .play-a{
        text-align: center;
        margin-bottom: 23px;
        width: 100%;
        max-width: 60px;
    p.play-name{
        background: #FFFFFF;
        border-radius: 3px;
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
        align-items: center;
        text-align: center;
        color: #002947;
        padding: 4px;
        max-width: 60px;
        margin: -14px auto 0;
        z-index: 1;
        position: relative;
    }
    p.col{
        background: #000;color: #fff;
    }
    p{
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
        color: #FFFDFD;
        margin-top: 2px;
    }
    }
    .playercard-c{
        position: relative;
        &::after{    content: "c";
            width: 12px;
            height: 12px;
            left: 47px;
            top: 15px;
            background: #E47C29;
            position: absolute;
            font-size: 8px;
            line-height:0;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
    .playercard-vc{
        position: relative;
        &::after{    content: "vc";
            width: 12px;
            height: 12px;
            left: 47px;
            top: 15px;
            background: #E47C29;
            position: absolute;
            font-size: 8px;
            line-height:0;
            color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
    .mar{
        margin: 0 auto 23px;
    }
    .batsmen-wrap, .bow-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 341px;
        width: 100%;
        margin: 0 auto;
    }
    .rpounder-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    .space{
        margin-right: 22px;
    }
    }

    }
}